<div class="container">
  
<%= render 'shared/user', user: @author %>
<%@posts.each do |post|%>
    <a href= "/users/<%=post.author.id%>/posts/<%= post.id %>">
      <div class= "container-post">
        <div class ="post-snippet">
         <%= render 'shared/post', post: post%>
         <%= render 'shared/reaction', post:post%>
         </div>
         <%= render 'shared/comment', comments:post.recent_comments unless post.recent_comments.empty?%>
       </div>  
    </a>
    <% end %>
      <nav class="pagination">
        <ul>
          <% (1..@total_page).each do|page|%>
          <li><a href="/users/<%= @author.id %>/posts?page=<%= page %>" class="border"><%= page %></a></li>
          <% end %>
          </ul>
      </nav> 
</div> 