<div>
 <a href="/users/<%= @post.author.id %>/posts/<%= @post.id %>" class="text-decoration-none">
    <div class="container-post">
      <div class= post-details>
        <div>
            <span><%= @post.title%></span> by: <span> <%= @post.author.name%><span>
            <p><%= @post.text%></p>
            <%= link_to 'Delete Post', "/users/#{@current_user.id}/posts/#{@post.id}", class: 'btn btn-link', data: { turbo_method: :delete } if can? :destroy, @post %>

        </div>
        <%= render 'shared/reaction', post:@post%>
      </div>   
        <div class="activities">
          <%= link_to 'Add new comment', "/users/#{@current_user.id}/posts/#{@post.id}/comments/new", class: "btn btn-link"%>
          <%= render 'shared/like', locals: {like: Like.new, post_id: @post.id, user_id: @post.author.id}%>
          </div>
        <%= render 'shared/comment', comments: @post.comments unless @post.comments.empty? %> 
    </div>  
 </a>
 </div>
